@model List<AccesoDatos.Modelo.TipoDepartamentos>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-success">Listado de Categorias</h2>
<div class="well well-sm">
    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Administracion_Puede_Crear_Nuevo_Registro))
    {
        <a class="btn btn-primary" href="~/TipoDepartamento/Create">Nuevo</a>
    }
</div>
<table class="table table-hover table-striped" id="myTableTipoDepartamento">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objTipoDepartamentos in Model)
        {
            <tr>
                <td>@objTipoDepartamentos.idTipo_Departamento</td>
                <td>@objTipoDepartamentos.TipoDepartamento</td>
                <td>@objTipoDepartamentos.Descripcion</td>
                <td><a class="btn btn-success" href="~/TipoDepartamento/DetalleTipoDepartamento?idTipo_Departamento=@objTipoDepartamentos.idTipo_Departamento"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td>
                    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Administracion_Puede_Editar_Registro))
                    {
                        <a class="btn btn-info" href="~/TipoDepartamento/EditarTipoDepartamento?idTipo_Departamento=@objTipoDepartamentos.idTipo_Departamento"><span class="fa fa-edit"></span></a>
                    }
                </td>
                <td>
                    @if (AccesoDatos.Commons.FrontUser.TienePermiso(AccesoDatos.Commons.RolesPermisos.Administracion_Puede_Eliminar_Registro))
                    {
                        if (@objTipoDepartamentos.idTipo_Departamento > 0)
                        {
                            <a onclick="return confirm('Esta seguro de elimnar este registro?');" class="btn btn-danger" href="~/TipoDepartamento/EliminarTipoDepartamento?idTipo_Departamento=@objTipoDepartamentos.idTipo_Departamento"><span class="fa fa-book"></span></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="text-primary text-danger text-center">
    @ViewBag.MensajeError;
</div>
<link href="~/Assets/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Assets/jquery/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTableTipoDepartamento").DataTable();
        });
    </script>
}